{% include 'sitio/cabecera.html' %}

<div class="card " width="180"  height="100">
    <div class="card-img-top rounded-circle d-flex justify-content-center align-items-center" style="width: 180px; height: 180px; overflow: hidden;">
        <img src="/img/foto.png" alt="Title" style="object-fit: cover; max-width: 100%; max-height: 100%;">
    </div>
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>
</div>


{% include 'sitio/pie.html' %}